In [9]:
planet_list = ["Mercury", "Mars"]

# Planet List

1. Use `append()` to add Jupiter and Saturn at the end of the list.
1. Use the `extend()` method to add another list of the last two planets in our solar system to the end of the list.
1. Use `insert()` to add Earth, and Venus in the correct order.
1. Use `append()` again to add Pluto to the end of the list.
1. Now that all the planets are in the list, slice the list in order to get the rocky planets into a new list called `rocky_planets`.
1. Being good amateur astronomers, we know that Pluto is now a dwarf planet, so use the `del` operation to remove it from the end of `planet_list`.

In [10]:
planet_list.append('Jupiter')
planet_list.append('Saturn')

In [11]:
print(planet_list)

['Mercury', 'Mars', 'Jupiter', 'Saturn']

In [12]:
planet_list.extend(['Uranus', 'Neptune'])

In [13]:
print(planet_list)

['Mercury', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [14]:
planet_list.insert(1, 'Venus')

In [15]:
planet_list.insert(2, 'Earth')

In [16]:
print(planet_list)

['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [17]:
planet_list.append('Pluto')

In [18]:
rocky_planets = planet_list[:4]

In [19]:
print(rocky_planets)

['Mercury', 'Venus', 'Earth', 'Mars']

In [20]:
del planet_list[-1]

In [21]:
print(planet_list)

['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

<hr>

## Challenge: Iterating Over Planets

Create another list containing tuples. 
Each tuple will hold the name of a spacecraft that we have launched, and the names of the planet(s) that it has visited, or landed on.

In [ ]:
# Example spacecraft list
spacecraft = [
   ("Cassini", "Saturn"),
   ("Viking", "Mars"),
]

Then, iterate over your list of planets, and inside that loop, iterate over the list of tuples. 
Print, for each planet, which satellites have visited it.

In [22]:
artificial_sats = [
    ('Cassini', 'Saturn'),
    ('Sputnik', 'Earth'),
    ('Venera 9', 'Venus'),
    ('Curiosity', 'Mars')
]

In [42]:
 for body in planet_list:
    for pair in artificial_sats:
        if body in pair:
            print(body + ' was visited by ' + pair[0])

Venus was visited by Venera 9
Earth was visited by Sputnik
Mars was visited by Curiosity
Saturn was visited by Cassini